Lab3/Lab3Console/src/wsdl/localhost_8080/PersonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab3standalone.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab3standalone.mycompany.com/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab3standalone.mycompany.com/" schemaLocation="http://localhost:8080/PersonService?xsd=1" />
</xsd:schema>
</types>
<message name="deletePerson">
<part name="request" type="xsd:int" />
</message>
<message name="deletePersonResponse">
<part name="return" type="xsd:string" />
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException" />
</message>
<message name="createPerson">
<part name="request" type="tns:createRequest" />
</message>
<message name="createPersonResponse">
<part name="return" type="xsd:int" />
</message>
<message name="getPersons">
<part name="fields" type="tns:findRequest" />
</message>
<message name="getPersonsResponse">
<part name="return" type="xsd:string" />
</message>
<message name="updatePerson">
<part name="request" type="tns:updateRequest" />
</message>
<message name="updatePersonResponse">
<part name="return" type="xsd:string" />
</message>
<portType name="PersonServiceI">
<operation name="deletePerson">
<input message="tns:deletePerson" />
<output message="tns:deletePersonResponse" />
<fault message="tns:NotFoundException" name="NotFoundException" />
</operation>
<operation name="createPerson">
<input message="tns:createPerson" />
<output message="tns:createPersonResponse" />
<fault message="tns:NotFoundException" name="NotFoundException" />
</operation>
<operation name="getPersons">
<input message="tns:getPersons" />
<output message="tns:getPersonsResponse" />
</operation>
<operation name="updatePerson">
<input message="tns:updatePerson" />
<output message="tns:updatePersonResponse" />
<fault message="tns:NotFoundException" name="NotFoundException" />
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonServiceI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="deletePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
</operation>
<operation name="createPerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
</operation>
<operation name="getPersons">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</output>
</operation>
<operation name="updatePerson">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://lab3standalone.mycompany.com/" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService" />
</port>
</service>
</definitions>